:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);

  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial;
  --font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--neutral-magnolia);
}

/* mobile design first */
@media only screen and (max-width: 640px) {
  .sidebar {
    height: 20vh;
    position: relative;
    display: flex;
    background: url(./assets/images/bg-sidebar-mobile.svg) no-repeat;
    background-size: cover;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem 0 0 0;
    gap: 1rem;
  }

  .sidebar-1-text,
  .sidebar-2-text,
  .sidebar-3-text,
  .sidebar-4-text {
    display: none;
  }

  .sidebar-1-btn,
  .sidebar-2-btn,
  .sidebar-3-btn,
  .sidebar-4-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--neutral-white);
    color: var(--neutral-white);
  }

  .sidebar-1-btn:hover,
  .sidebar-2-btn:hover,
  .sidebar-3-btn:hover,
  .sidebar-4-btn:hover {
    cursor: pointer;
    background-color: var(--neutral-white);
    color: var(--primary-marine-blue);
  }

  /* default css */
  .steps {
    position: absolute;
    top: 14%;
    height: 86%;
    width: 100%;
  }

  .steps-body {
    /* align-items: center; */
    /* color: #ccc; */
    background: var(--neutral-white);
    width: 90%;
    display: flex;
    padding: 2.5rem 1.5rem 1.8rem;
    color: var(--primary-marine-blue);
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    gap: 0.5rem;
  }

  .steps-body > h1 {
    font-size: 24px;
    font-weight: 00;
  }

  .steps-body > h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--neutral-cool-gray);
  }

  .steps-body > label {
    font-weight: 500;
    padding-top: 8px;
  }

  .steps-body label:first-child {
    padding-top: 1rem;
  }

  .steps-body input::placeholder,
  input {
    color: var(--neutral-cool-gray);
    font-weight: 600;
  }

  .steps-body input {
    padding: 0.7rem 0.5rem;
    border: 1px solid var(--neutral-cool-gray);
    border-radius: 4px;
  }

  .steps-body input:active {
    border: 1px solid var(--neutral-cool-gray);
  }

  .steps-selection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 1rem;
  }

  .steps-selection-options {
    display: flex;
    gap: 0.5rem;
    border: 1px solid var(--neutral-cool-gray);
    /* background-color: var(--neutral-magnolia); */
    padding: 1.2rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }

  .steps-selection-options:hover {
    border: 1px solid var(--primary-marine-blue);
    background-color: var(--neutral-magnolia);
  }

  .steps-selection-options p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
  }

  .steps-selection-options p > span {
    color: var(--neutral-cool-gray);
    font-weight: 500;
    font-size: 14px;
  }

  .steps-body-price p {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-purplish-blue);
  }

  .steps-section-options-flex {
    display: flex;
    gap: 12px;
  }

  .steps-section-options-flex span {
    padding-top: 4px;
  }

  .steps-selection-diff-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
    background-color: var(--neutral-alabaster);
    border-radius: 8px;
    font-weight: 600;
  }

  .steps-selection-diff-option input {
    opacity: 0;
    height: 0px;
    width: 0px;
  }

  .steps-selection-diff-option input:checked ~ .slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
    transform: translateX(20px);
  }
  /** probably need to use js here */
  /* .steps-selection-diff-option input:checked ~ .monthly {
    color: var(--neutral-cool-gray);
  } */

  .steps-selection-diff-option .switch {
    position: relative;
    display: inline-block;
    height: 19px;
    width: 40px;
    transition: 400ms;
  }

  .steps-selection-diff-option .switch:hover {
    cursor: pointer;
  }

  .steps-selection-diff-option .slider {
    position: absolute;
    border-radius: 34px;
    background-color: var(--primary-marine-blue);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .steps-selection-diff-option .slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    background-color: var(--neutral-white);
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    transition: 400ms;
  }

  .steps-footer {
    height: 10vh;
    width: 100%;
    background-color: var(--neutral-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }

  .btn-next {
    /* height: 3rem; */
    /* display: flex; */
    background-color: var(--primary-marine-blue);
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    color: var(--neutral-white);
  }

  .btn-back {
    background-color: transparent;
    border: none;
    color: var(--neutral-cool-gray);
  }

  .steps-footer button:hover {
    cursor: pointer;
  }

  .step-1,
  .step-2,
  .step-3,
  .step-4,
  .step-5 {
    /* background: white; */
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .step-1 {
    display: none;
  }

  .step-2 {
    display: none;
  }

  .step-3 {
    display: none;
  }

  .step-4 {
    display: flex;
  }

  .step-5 {
    display: none;
  }
}

/* take my hand, take my whole life too
for I cant help falling in love with you */
