:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);

  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial;
  --font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--neutral-magnolia);
}

/* mobile design first */
@media only screen and (max-width: 640px) {
  .sidebar {
    height: 20vh;
    position: relative;
    display: flex;
    background: url(./assets/images/bg-sidebar-mobile.svg) no-repeat;
    background-size: cover;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem 0 0 0;
    gap: 1rem;
  }

  .sidebar-1-text,
  .sidebar-2-text,
  .sidebar-3-text,
  .sidebar-4-text {
    display: none;
  }

  .sidebar-1-btn,
  .sidebar-2-btn,
  .sidebar-3-btn,
  .sidebar-4-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--neutral-white);
    color: var(--neutral-white);
  }

  .sidebar-1-btn:hover,
  .sidebar-2-btn:hover,
  .sidebar-3-btn:hover,
  .sidebar-4-btn:hover {
    cursor: pointer;
    background-color: var(--neutral-white);
    color: var(--primary-marine-blue);
  }

  /* default css */
  .steps {
    position: absolute;
    top: 14%;
    height: 86%;
    width: 100%;
  }

  .steps-body {
    /* align-items: center; */
    background: var(--neutral-white);
    width: 90%;
    display: flex;
    padding: 2.5rem 1.5rem 1.8rem;
    color: var(--primary-marine-blue);
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    gap: 0.5rem;
  }

  .steps-body > h1 {
    font-size: 24px;
    font-weight: 00;
  }

  .steps-body > h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--neutral-cool-gray);
  }

  .steps-body input::placeholder,
  input {
    color: var(--neutral-cool-gray);
  }

  .steps-body input {
    padding: 0.7rem 0.5rem;
    border: 1px solid var(--neutral-cool-gray);
    border-radius: 4px;
  }

  .steps-body input:active {
    border: 1px solid var(--neutral-cool-gray);
  }

  .steps-footer {
    height: 10vh;
    width: 100%;
    background-color: var(--neutral-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }

  .steps-footer button {
    /* height: 3rem; */
    /* display: flex; */
    background-color: var(--primary-marine-blue);
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    color: var(--neutral-white);
  }

  .step-1 {
    /* background: white; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .step-2 {
    display: none;
  }

  .step-3 {
    display: none;
  }

  .step-4 {
    display: none;
  }

  .step-5 {
    display: none;
  }
}

/* take my hand, take my whole life too
for I cant help falling in love with you */
